---
// Define props from Astro
const { title, subTitle } = Astro.props;

import school1 from "@images/drawing_t.png";
import school2 from "@images/drawing_t.png";
import school3 from "@images/drawing_t.png";
import school4 from "@images/drawing_t.png";
import school5 from "@images/drawing_t.png";
import school6 from "@images/drawing_t.png";
import Image from 'astro/components/Image.astro';
import type { ImageMetadata } from 'astro';

const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/logos/*.{jpeg,jpg,png,webp}')
const imagePaths = Object.entries(images)
const resolvedImages = await Promise.all(
    Object.values(images).map((image) => image().then((mod) => mod.default))
  );



// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}

---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-12 lg:mb-16 w-full space-y-1 text-center sm:w-1/2 lg:w-2/3">
    <h2
      class="block text-balance text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200  sm:text-4xl lg:text-5xl lg:leading-tight  font-serif-title"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="mt-3 mx-auto text-pretty text-lg text-justify leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5">
          {subTitle}
        </p>
      )
    }
  </div>
    <div class="lg:-mx-6 px-2 lg:px-0">

      <div class="grid justify-items-center items-center grid-cols-3 gap-12 text-gray-500 md:gap-6 lg:gap-x-16 lg:gap-12 md:grid-cols-3 lg:grid-cols-5 dark:text-gray-400">
        {
          resolvedImages.map((i) => {
            return (
              <Image src={i} alt='sstst' height="100" class="mb-0 w-auto"/>
            )
          })
        }
      </div>
  <!-- Clients Group SVGs -->
  </div>
</section>
